//
   Created by batuhancimen on 12/11/14.

form(action="" , method="POST")
   div
      label(for="Username")
      input(type="text" ,name="username", placeholder="Username")
   div
      label(for="Password")
      input(type="password",name="password", placeholder="Password")
   div
      input(type="submit", value="login")