body {
  font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  color: #fff;
  text-align: center;
  .border-style {
    border: 5px #000 solid;
  }
  #postpage {
    width: 90%;
    margin: auto;
  }
//  .glyphicon-ok{
//    z-index: 9999;
//    color:#000;
//  }
//  .glyphicon-ok:hover{
//    text-decoration: none;
//    color: #61ff55;
//    transition-property: all ;
//    transition-duration: .5s ;
//    -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -webkit-font-smoothing: antialiased;
//  }
//  .glyphicon-remove{
//    z-index: 9999;
//    color:#000;
//  }
//  .glyphicon-remove:hover{
//    text-decoration: none;
//    color: #a30a11;
//    transition-property: all ;
//    transition-duration: .5s ;
//    -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
//    -webkit-font-smoothing: antialiased;
//  }
  .publish-button {

  }
  .unpublish-button {

  }
  .delete-button {

  }
  .logout-button {

  }
  #logout {
    right : 20px;
    position: absolute;
    z-index: 99;
    top: 25px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 34.6px 20px 0 20px;
    border-color: #000000 transparent transparent transparent;
    .btn-newPost-in {
      z-index: 999;
      top: -31px;
      left: -15px;
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 26.0px 15px 0 15px;
      border-color: #ffffff transparent transparent transparent;
      .glyphicon-plus{
        z-index: 9999;
        position: absolute;
        color:#000;
        top: -25px;
        left: -6px;
      }
      .glyphicon-plus:hover{
        text-decoration: none;
        color: #fff;
        transition-property: all ;
        transition-duration: .5s ;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -webkit-font-smoothing: antialiased;
      }
    }
    .btn-newPost-in:hover{
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 26.0px 15px 0 15px;
      border-color: #000000 transparent transparent transparent;
      transition-property: all ;
      transition-duration: .5s ;
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -webkit-font-smoothing: antialiased;
    }
  }
  .login-error {
    border-color: #ff0000;
    color:red;
  }
  a {
    text-decoration: none;
    color:#000;
  }
  a:hover {
    text-decoration: none;
    color:#000;
    opacity: 0.8;
  }
  a:active {
    text-decoration: none;
    outline: none;
  }
  p {
    color:#000
  }
  .article-split {
    width: auto;
    max-width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    margin-top: 70px;
    margin-bottom: 50px;
    display: block;
    clear: both;
  }
  article {
    p {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 600px;
    }
    form {
      display: inline-block;
    }
  }
  .article-title {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 0;

  }
  .article-time {
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    opacity: .05;
    font-family: 'freight-sans-pro','proxima-nova','Helvetica';
    font-weight: 700;
    font-size: 14px;
    color: #1d1d1d;
    -webkit-font-smoothing: antialiased;
    transition-property: all;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  }
  .article-time:hover {
    opacity: 1;
  }
  .btn-newPost-out {
    z-index: 99;
    position: absolute;
    top: 25px;
    left: 20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 34.6px 20px 0 20px;
    border-color: #000000 transparent transparent transparent;
    .btn-newPost-in {
      z-index: 999;
      top: -31px;
      left: -15px;
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 26.0px 15px 0 15px;
      border-color: #ffffff transparent transparent transparent;
      .glyphicon-plus{
        z-index: 9999;
        position: absolute;
        color:#000;
        top: -25px;
        left: -6px;
      }
      .glyphicon-plus:hover{
        text-decoration: none;
        color: #fff;
        transition-property: all ;
        transition-duration: .5s ;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -webkit-font-smoothing: antialiased;
      }
    }
    .btn-newPost-in:hover{
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 26.0px 15px 0 15px;
      border-color: #000000 transparent transparent transparent;
      transition-property: all ;
      transition-duration: .5s ;
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
      -webkit-font-smoothing: antialiased;
    }
  }
  .btn-lg {
    font-weight: 500;
    border: 2px solid #000 ;
    text-shadow: none ;
    background-color: #FFF ;
    margin-top: 5px ;
    margin-bottom: 5px ;
    margin-left: 25px ;
    margin-right: 25px ;
    border-radius: 30px ;
    display: inline-block;
    padding-right: 43px;
    padding-left: 43px;
  }
  .btn-lg:hover {
    background-color: #000 ;
    color: #fff ;
    font-weight: 500;
    border: 2px solid #000 ;
    transition-property: all ;
    transition-duration: .5s ;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -webkit-font-smoothing: antialiased;
  }
  .editbtn {
    font-size: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    max-height: 24px;
  }
  .deletebtn {
    font-size: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    max-height: 24px;
  }
  .editbtn:hover {
    background-color:greenyellow;
    transition-property: all ;
    transition-duration: .5s ;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -webkit-font-smoothing: antialiased;
  }
  .deletebtn:hover{
    background-color: darkred;
    transition-property: all ;
    transition-duration: .5s ;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
    -webkit-font-smoothing: antialiased;
  }
  .site-wrapper {
    margin-top: 5%;
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    .site-wrapper-inner {
      position: relative;
      display: table-cell;
      vertical-align: top;
      section{
        margin-top:15%;
      }
      .cover-container {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        .mustfoot {
          width: 100%;
          bottom: 0px;
          .mustfoot-inner {
            padding: 30px;
            p {
              margin: 0 0 10px;
              color: #808080;
            }
          }
        }
        .inner-cover {
          padding: 0 20px;
          #home_figure {
            width: 200px;
            height: 200px;
            text-indent: -9999px;
            transition-property: background;
            transition-duration: 1s;
            -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
            -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
            -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
            -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
            transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
            margin: 0 auto;
            opacity: 1;
            background: url(../images/DragonSymbol.png) center center no-repeat;
            background-size: 120%;
          }
          #TriDraLog {
            font-family: 'freight-sans-pro', 'Helvetica', 'Avenir', 'Arial', sans-serif;
            letter-spacing: -1px;
            font-weight: 900;
            font-size: 35px;
            color: #000;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 5px;
            .TriDraLog-a {
              color: #000;
            }

          }
          #home_tagline {
            font-family: 'freight-sans-pro', 'Helvetica', 'Avenir', 'Arial', sans-serif;
            font-weight: 300;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 420px;
            margin: 0 auto;
            font-size: 25px;
            line-height: 34px;
            margin-top: 3%;
            margin-bottom: 15px;
            color: #000;
          }
          #sign_up_home {
            display: inline-block;
            padding-right: 43px;
            padding-left: 43px;
          }
          #login_home {
            isplay: inline-block;
            padding-right: 51px;
            padding-left: 51px;
          }
          .buttonize-outline-hard {
            background-color: #fff;
            color: #000;
            font-weight: 500;
            border: 2px solid #000;
          }
          .buttonize-outline-hard:hover {
            background-color: #000;
            color: #fff;
            font-weight: 500;
            border: 2px solid #000;
          }
          .buttonize-outline-hard:active {
            background-color: #70d725;
            font-weight: 400;
          }
        }
      }
      .input-box-done {
        display: block;
        position: relative;
        border-top: 1px solid #f0f0f0;
        padding-top: 20px;
        padding-bottom: 20px;
        transition-property: all;
        transition-duration: .2s;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        -webkit-font-smoothing: antialiased;
        textarea {
          border: 0;
          outline: none;
          resize: none;
        }
      .sing-up-input {
          display: block;
          width: 100%;
          max-width: 570px;
          margin: 0 auto;
          padding-top: 5px;
          padding-bottom: 0;
          font-weight: 300;
          border: 0;
          font-size: 25px;
          outline: 0;
          background-color: transparent;
          padding-left: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: #000;
          transition-property: color;
          transition-duration: 5s;
          -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
        }
        .sing-up-input:active {
          color: #70d725;
        }
        label {
          position: absolute;
          right: 20px;
          top: 0;
          line-height: 80px;
          text-transform: uppercase;
          font-size: 14px;
          color: #cacaca;
          font-weight: 700;
          opacity: 0;
          transition-property: all;
          transition-duration: .2s;
          -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    .title {
      display: block;
      font-size: 80px;
      line-height: 1em;
      font-family: 'freight-sans-pro', sans-serif;
      font-weight: 100;
      color: #000;
      margin-bottom: 30px;
    }
    .logoize {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: 'freight-sans-pro', sans-serif;
    color: #000;
    }
    .first {
      color:#808080;
    }
  }
}


