//
   Created by batuhancimen on 12/15/14.

extends layout
block content
   div(class="site-wrapper")
      div(class="site-wrapper-inner")
         div(class="inner-cover")
            h1(class="title") Welcome!
            p
               span(class="logoize") TriDraLog
            p(class="first") I guess we already know each other :)
            form(action="/login" , method="POST")
               div(class="input-box-done")
                  h5(class="login-error") Wrong username or password!
               div(class="input-box-done")
                  label(for="Username")
                  input(type="text" ,name="username", placeholder="Username" , class="sing-up-input")
               div(class="input-box-done")
                  label(for="Password")
                  input(type="password",name="password", placeholder="Password",class="sing-up-input" )
               div(class="input-box-done")
                  input(type="submit", value="login" , class="btn btn-lg btn-default")
   include footer